@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo', sans-serif;
    padding-top: 65px;
    background-color: #565CCE;
    border-radius: 10px;
}

.searchbar {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.search-form {
    margin-top: 1rem;
}

.search-form input,
.search-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.search-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
}

.card-margin {
    margin-bottom: 2rem;
}

.image {
    padding: 10px;
}

.description {
    text-wrap: pretty;
    inline-size: 300px;
}

.card {
    width: 600px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.profileInfo {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.city,
.state,
.age {
    font-size: 10px;
    color: #a1aab9;
}

.city2,
.state2,
.age2 {
    font-weight: 500;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }

    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

a.navbarlinks {
    color: #000000;
    text-decoration: none;
}

a.navbarlinks:hover {
    text-decoration: none;
}

.profiles {
    display: inline-block;
    align-items: center;
    padding: 10px;
    inline-size: 300px;
    overflow: hidden;
    border: solid;
    border-color: whitesmoke;
    border-width: 2px;
}
