@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
    padding-top: 65px;
    background-color: #565CCE;
}

.serachbar {
    height: 400px;
    width: 200px;

}

.search-form {
    width: 100%;
    margin-top: 1rem;
    display: block;
}

.search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.search-form label {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select {
    background: transparent;
    height: 100%; 
    font-size: 1rem;
}

.search-form select:focus {
    border: 0;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }

    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

.card-margin {
    margin-bottom: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: solid white;
    border-radius: 8px;
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

a.navbarlinks {
    color: #000000;
    text-decoration: none;
}

a.navbarlinks:hover {
    text-decoration: none;
}

.profiles {
    display: inline-block;
    align-items: center;
    padding: 10px;
    inline-size: 300px;
    overflow: hidden;
    border: solid;
    border-color: whitesmoke;
    border-width: 2px;
}
