@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo', sans-serif;
    padding-top: 65px;
    background-color: #565CCE;
    border-radius: 10px;
}

.card-margin {
    margin-bottom: 2rem;
}

.image {
    padding: 10px;
}

.description {
    text-wrap: pretty;
    inline-size: 300px;
}

.card {
    width: 600px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.profileInfo {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.city,
.state,
.age {
    font-size: 10px;
    color: #a1aab9;
}

.city2,
.state2,
.age2 {
    font-weight: 500;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }

    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

a.navbarlinks {
    color: #000000;
    text-decoration: none;
}

a.navbarlinks:hover {
    text-decoration: none;
}

.profiles {
    display: inline-block;
    align-items: center;
    padding: 10px;
    inline-size: 300px;
    overflow: hidden;
    border: solid;
    border-color: whitesmoke;
    border-width: 2px;
}

/*search box css start here*/
.search-sec {
    background: white;
    padding: 2rem;
    border-radius: 30px;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}
