body {
    background-color: #565CCE;
    padding-top: 65px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

a.navbarlinks {
    color: #000000;
    text-decoration: none;
}

a.navbarlinks:hover {
    text-decoration: none;
}

.card-margin {
    margin-bottom: 2rem;
}

.image {
    padding: 10px;
}

.description {
    text-wrap: pretty;
    inline-size: 300px;
}

.card {
    width: 600px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.status {
    font-size: 10px;
    color: #a1aab9;
}

.status2 {
    font-weight: 500;
}

.profileInfo {
    background: #f2f5f8 !important;
    color: #000 !important;
}
